.wy-nav-content {
    max-width: 1400px !important;
}

.logo {
	width: auto;
	height: 45px !important;
}

.wy-side-nav-search img {
	padding: 0px !important;
}

.highlight-ipython3 .highlight {
	background: #272822 !important;
}

.output_area .highlight {
	background: #272822 !important;
}